/* Desktop mode  */
/* Desktop mode  */
@media screen and (min-width:1024px) {
    body{
        background-color: #FFFFFF;
        position: relative;
        font-family: 'Barlow', sans-serif;
        color: #162542;
    }

    .tm{
        margin-top: auto;
        margin-bottom: auto;
    }

    .button-one{
        position: flex;
        margin-left:auto ;
        border: none;
        border-radius: 8px;
        background-color:#E8EFF2 ;
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        font-style: normal;
        color: #162542;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 810px;

    }
    .button-one:hover{
        background-color: #162542;
        color: #FFFFFF;
        cursor: pointer;

    }

    .div-one {
        display:flex;
        width: 1040px;
        margin-left: 115px;
        margin-right: 180px;
        margin-top: 55px;
      }
    
    .div-two{
        height: 312px;
        width: 445px;
        margin-right: 950px;
        margin-left: 110px;
        margin-top: 210px;
        display: block;
    }
    
    .keyboard{
        height: 480px;
        width: 540px;
        left: 624px;
        top: 200px;
        border-radius:16px;
        position: absolute;
        right: 400px;

    }
    .svg1{
        position:absolute;
        left: -150px;
        top: 1000px;
    }

    .svg2{
        position:absolute;
        top: 200px;
        height: 240px;
        width: 130px;
        right: 0px;
    }

    .image2{
        height: 480px;
        width: 255px;
        left: 130px;
        top: 200px;
        border-radius: 16px;
        background-color: #F16718;
        position: relative;
        mix-blend-mode: multiply;

    
    }
    .mech{
        height: 300px;
        width: 255px;
        left: 950px;
        top: 750px;
        position: absolute  ;
    }

    .mechh2{
        text-transform: uppercase;
        font-family: 'Barlow';
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;

    }

    h2{
        text-transform: uppercase;
        font-family: 'Barlow';
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 50px;
    }


    .image3{
        height: 480px;
        width: 445px;
        left: 180px;
        top: 200px;
        border-radius: 16px;
        position: relative;
    }

    h1{
        text-transform: uppercase;
        font-family: 'Barlow',sans-serif;
        font-size: 56px;
        font-weight: 900;
        line-height: 56px;
        text-align: left;

    }
    
    .type-key {
        font-family: 'Barlow';
        font-style: normal;
        font-size: 18px;
        font-weight: 550;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        color: #7B8BAD;
    }

    p{
        font-family: 'Barlow';
        font-style: normal;
        font-size: 16px;
        font-weight: 550;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        color: #7B8BAD;
    }

    .feat{
        height: 323px;
        width: 230px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        top: 310px;
        left: 130px;
    }

    .feat1{
        height: 323px;
        width: 239px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        left: 150px;
        margin-left: 20px;
        top: 310px;
    }

    .feat2{
        height: 323px;
        width: 230px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        left: 170px;
        margin-left: 20px;
        top: 310px;
    }

    .feat3{
        height: 323px;
        width: 240px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        left: 200px;
        margin-left: 20px;
        top: 310px;
    }

    .button-two{
        position: flex;
        border: none;
        border-radius: 8px;
        background-color: #F16718 ;
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        font-style: normal;
        color: #FFFFFF;
        padding-left: 30px;
        padding-right: 30px;
        height: 58px;
    }

    .button-two:hover{
        background-color: #FF9B62;
        cursor: pointer;

    }

    .release{
        display: inline-block;
        margin-left: 20px;
        color: #7B8BAD;
    }

  
    .footer{
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px;
        font-weight: 700;
        position: relative;
        left: auto;
        right: auto;
        top: 400px;
        padding: 50px;

    }
    span{
        font-size: 16px;
        font-weight: 500;
    }
}

/* TABLET mode */
/* TABLET mode */
@media screen and (min-width:768px)and (max-width:1023px) {
    body{
        background-color: #FFFFFF;
        position: relative;
        font-family: 'Barlow', sans-serif;
        color: #162542;
        height: 2128px;
        width: 768px;
    }

    h2{
        text-transform: uppercase;
        font-family: 'Barlow';
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 50px;
    }

    .tm{
        margin-top: auto;
        margin-bottom: auto;
    }

    .svg1{
        display: none;
        position: absolute;
    }

    .image2{
        height: 320px;
        width: 200px;
        left: 50px;
        top: 100px;
        border-radius: 16px;
        background-color: #F16718;
        position: relative;
        mix-blend-mode: multiply;
    }

    .image3{
        height: 320px;
        width: 445px;
        left: 103px;
        top: 100px;
        border-radius: 16px;
        position: relative;
    }

    .mech{
        height: 108px;
        width: 689px;
        left: 34px;
        top: 1050px;
        position: absolute;
        display: inline-flex;
    }

    .mechh2{
        text-transform: uppercase;
        font-family: 'Barlow';
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
        text-align: left;
        margin-left: 30px;
    }
    .mechp{
        position: relative;
        left: 60px;
        top: 25px;
        font-family: 'Barlow';
    }

    .feat{
        height: 323px;
        width: 255px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        top: 500px;
        left: 60px;
    }

    .feat1{
        height: 323px;
        width: 289px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        left: 200px;
        top: 500px;
    }

    .feat2{
        height: 323px;
        width: 255px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        left: 60px;
        top: 600px;
    }

    .feat3{
        height: 323px;
        width: 255px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        left: 200px;
        top: 600px;
    }

    .svg2{
        display: none;
        position: absolute;
    }

    .footer{
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px;
        font-weight: 700;
        position: relative;
        left: auto;
        right: auto;
        top: 700px;
        padding: 50px;
    }

    span{
        font-size: 16px;
        font-weight: 500;
    }

    .button-one{
        position: flex;
        margin-left:auto ;
        border: none;
        border-radius: 8px;
        background-color:#E8EFF2 ;
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        font-style: normal;
        color: #162542;
        padding-left: 30px;
        padding-right: 30px;

    }
    .button-one:hover{
        background-color: #162542;
        color: #FFFFFF;
        cursor: pointer;

    }


    .div-one {
        display:flex;
        width: 689px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
      }
    
    .div-two{
        height: 332px;
        width: 445px;
        margin-right: 39px;
        margin-top: 143px;
        margin-left: 30px;
        display: inline-block;
        justify-content: center;
        align-items: left;
        position: relative;
        }

    .keyboard{
        height: 380px;
        width: 400px;
        top: 200px;
        border-radius: 16px;
        position: absolute;
        margin-left: 0px;
        left: 500px;
        top: 200px;
        clip-path: polygon(0 0, 75% 0, 75% 100%, 0 100%)

        }

    h1{
        text-transform: uppercase;
        font-family: 'Barlow',sans-serif;
        font-size: 56px;
        font-weight: 900;
        line-height: 56px;
        margin-top: 0px;
        text-align: left;

        }
    
    .type-key, p{
        font-family: 'Barlow';
        font-style: normal;
        font-size: 18px;
        font-weight: 550;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        color: #7B8BAD;

    }
    .button-two{
        position: flex;
        border: none;
        border-radius: 8px;
        background-color: #F16718 ;
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        font-style: normal;
        color: #FFFFFF;
        padding-left: 30px;
        padding-right: 30px;
        height: 58px;
    }

    .button-two:hover{
        background-color: #FF9B62;
        cursor: pointer;

    }

    .release{
        display: inline-block;
        margin-left: 20px;
        color: #7B8BAD;
    }
}

/* mobile mode */
/* mobile mode */
@media only screen and (max-width: 767px) {
    body {
      background-color: #FFFFFF;
      position: relative;
      font-family: 'Barlow', sans-serif;
      color: #162542;
        }
  
    .tm {
      margin-top: auto;
      margin-bottom: auto;
        }
  
    .button-one {
      display: flex;
      margin-left: auto;
      border: none;
      border-radius: 8px;
      background-color: #E8EFF2;
      font-family: 'Barlow', sans-serif;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase;
      font-style: normal;
      color: #162542;
      padding-left: 10px;
      padding-right: 10px;
        }
  
    .button-one:hover {
      background-color: #162542;
      color: #FFFFFF;
      cursor: pointer;

        }
  
    .div-one {
      display: flex;
      width: 327px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      top: 23px;
      margin-bottom: 10px;
      margin-top: 10px;
        }
  
    .div-two{
      height: 286px;
      width: 327px;
      display: block;
      position: relative;
      top: 50px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      left: auto;
      }
  
    h1{
        text-transform: uppercase;
        font-family: 'Barlow',sans-serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
  
      }
      
    .type-key, p{
        font-family: 'Barlow';
        font-style: normal;
        font-size: 14px;
        font-weight: 550;
        line-height: 26px;
        color: #7B8BAD;
        padding: 10px;
      }
  
    .button-two{
        position: flex;
        border: none;
        border-radius: 8px;
        background-color: #F16718 ;
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        font-style: normal;
        color: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
      }
  
    .button-two:hover{
        background-color: #FF9B62;
        cursor: pointer;

      }
  
    .release{
        display: inline-block;
        margin-left: 40px;
        color: #7B8BAD;
        font-size: 15px;
        }
  
    .keyboard{
        position: relative;
        height: 331px;
        width: 372px;
        top: 64px;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        }
  
    .svg2{
        display:none;
        }


    .svg1{
        display:none;
        }
      


    .image2{
        border-radius: 16px;
        background-color: #F16718;
        position: relative;
        mix-blend-mode: multiply;
        height: 193px;
        width: 129px;
        left: -22px;
        top: 100px;
        }
      
    .image3{
  
        border-radius: 16px;
        position: relative;
        height: 193px;
        width: 210px;
        left: 15px;
        top: 100px;
        border-radius: 10px;
        }
  
    .mech{
        top: 1100px;
        position: absolute;
        width: 360px;
        right: 0px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        }
      
    .mechh2{
        text-transform: uppercase;
        font-family: 'Barlow';
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
        margin-left: auto;
        margin-right: auto;
        height: 108px;
        width: 300px;
        }


    .mechp{
        position: absolute;
        top: 180px;
        font-family: 'Barlow';
        height: 104px;
        width: 327px;
        text-align: center;
        }
  
    .feat{
        height: 323px;
        width: auto;
        text-align: center;
        border-radius: 8px;
        display: block;
        position: relative;
        top: 550px;
        margin-left:auto;
        margin-right: auto;
        }
      
    .feat1{
        height: 323px;
        width: auto;
        text-align: center;
        border-radius: 8px;
        display: block;
        position: relative;
        top: 650px;
        margin-left: auto;
        margin-right: auto;
        }
      
    .feat2{
        height: 323px;
        width: auto;
        text-align: center;
        border-radius: 8px;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 750px;
        }
      
    .feat3{
        height: 323px;
        width: auto;
        text-align: center;
        border-radius: 8px;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 850px;
        }
  
    .footer{
        font-family: 'Barlow';
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 1000px;
        padding: 50px;
        height: 26px;
        width: 272px;
        margin-left: auto;
        margin-right: auto;
  
        }
  
    h2{
        text-transform: uppercase;
        font-family: 'Barlow';
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 50px;
        }

        .tru{
            display: block;
            position: relative;
            margin-right: auto;
            margin-left: auto;
        }

        span{
            font-size: 16px;
            font-weight: 500;
        }
  }